{% extends "base.html" %}

{% block area %}Página Inicial{% endblock %}

{% block main-content %}

<div class="well">
  <h1>Sistema de Apoio ao Processo Legislativo</h1>
  <p>
    O Sistema de Apoio ao Processo Legislativo (SAPL) tem como
    finalidade apoiar as Casas Legislativas nas suas atividades relacionadas ao
    processo legislativo em geral, tais como: elaboração de proposições, recepção e
    tramitação das matérias legislativas, organização das sessões plenárias,
    manutenção atualizada da base de leis, entre outras. Ele também disponibiliza
    consultas às informações sobre mesa diretora, comissões, parlamentares, ordem
    do dia, proposições, matérias legislativas, normas jurídicas e outras. O SAPL
    facilita as atividades dos parlamentares, servidores da Casa e permite aos
    cidadãos acompanharem o andamento dos processos legislativos, além de pesquisar
    a legislação.
  </p>
</div>

<div id="areas">
  {% for par_areas in areas %}
  <div class="row">
    {% for area in par_areas %}
    <div class="col-md-6">
      <div class="media">
        <a class="pull-left" href="{{ area.caminho }}">
          <img class="media-object" src="{{ STATIC_URL }}img/{{ area.icone }}"
               alt="Ícone de '{{ area.nome }}'">
        </a>
        <div class="media-body">
        <a href="{{ area.caminho }}">
          <h3 class="media-heading">{{ area.nome }}</h3>
          <p>
            {{ area.descricao}}
          </p>
        </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
