{% extends "base.html" %}

{% block area %}Página Inicial{% endblock %}

{% block main-content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Sistema de Apoio ao Processo Legislativo</h1>
        <p>
        O Sistema de Apoio ao Processo Legislativo (SAPL) tem como
finalidade apoiar as Casas Legislativas nas suas atividades relacionadas ao
processo legislativo em geral, tais como: elaboração de proposições, recepção e
tramitação das matérias legislativas, organização das sessões plenárias,
manutenção atualizada da base de leis, entre outras. Ele também disponibiliza
consultas às informações sobre mesa diretora, comissões, parlamentares, ordem
do dia, proposições, matérias legislativas, normas jurídicas e outras. O SAPL
facilita as atividades dos parlamentares, servidores da Casa e permite aos
cidadãos acompanharem o andamento dos processos legislativos, além de pesquisar
a legislação.
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Saber mais &raquo;</a>
        </p>
      </div>

{% endblock %}
