/* Estilos específicos do SAPL */

body {
  padding-bottom: 40px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#titulo-barra {
    padding-left: 54px;
    background: transparent url("../img/brasao-mini.gif") no-repeat 14px 8px;
}

.linha-areas {
    margin-top: 10px;
}
