/* Estilos específicos do SAPL */

body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#titulo-barra {
    padding-left: 54px;
    background: transparent url("../img/brasao-mini.gif") no-repeat 14px 8px;
}
